<section class="w-screen h-16 bg-blue-500 grid place-items-center">
    <div class="w-4/5 flex justify-between items-center">
        <h1 class="text-white text-xl font-semibold tracking-wider cursor-pointer">Parking Control</h1>
        <ul class="flex gap-2 sm:gap-8">
            <h1 class="text-white text-base cursor-pointer">Parking Space</h1>
            <h1 class="text-white text-base cursor-pointer">Historic</h1>
            <h1 class="text-white text-base cursor-pointer">Profile</h1>
        </ul>
    </div>
</section>