<section class="flex justify-center md:grid grid-cols-2 min-h-screen place-items-center">
	<img src="assets/images/background.svg"
		alt="background"
		class="hidden md:block w-full h-full object-cover object-right">
	<div class="flex flex-col items-center w-1/2 gap-3">
		<!-- Title -->
        <h1 class="text-blue-800 font-bold text-center text-4xl md:text-6xl w-fit mb-8">Register</h1>

		<!-- Inputs -->
		<app-input label="CEP" imgSrc="assets/images/user.svg" inputType="text"/>
		<app-input label="City" imgSrc="assets/images/user.svg" inputType="text"/>
		<app-input label="State" imgSrc="assets/images/user.svg" inputType="text"/>
		<app-input label="Number" imgSrc="assets/images/user.svg" inputType="text"/>

		<!-- Button -->
		<a class="bg-blue-800 hover:bg-blue-900 active:bg-blue-800 rounded-full px-4 py-3 flex items-center justify-center mt-8 w-full">
			<h1 class="text-white font-semibold text-xl">Register</h1>
		</a>
	</div>
</section>

